{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>

{% endblock %}

{% block content %}

<div class='page-header'>
{% if object %}
  <h1 class="home__title">Edit Task Detail</h1>
{% else %}
  <h1 class="home__title">Add a Task</h1>
{% endif %}
  {% comment %} <img src="{% static 'images/nerd-Task.svg' %}" alt="A Task using a computer"/> {% endcomment %}
</div>

<form action="" method='post' class='form-container'>
  {% csrf_token %}
  <table>
    {{form.as_table}}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}