{% extends 'base.html' %} {% load static %} {% block head %}
{% comment %} <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/sushi-index.css' %}"
/> {% endcomment %}
<script defer src="{% static 'js/task-detail.js' %}"></script>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Task List</h1>
</section>

<section class="card-container">
  <div class="card">
    {% comment %} <a href="{% url 'sushi_detail' sushi.id %}"> {% endcomment %}
      <div class="card-content">
        <div class="card-img-container">
          {% comment %} <img src="{% static 'images/sushi.svg' %}" alt="sushi logo icon" /> {% endcomment %}
        </div>
        <h2 class="card-title">{{ task.name }}</h2>
         <p> Timer: {% if task.hours %}{{ task.hours }}{% else %}00{% endif %}:{{ task.minutes }}</p>
      </div>
    {% comment %} </a> {% endcomment %}
     <div>
      <a href="{% url 'tasks_update' task.id %}" class="btn warn">Edit</a>
      <a href="{% url 'tasks_delete' task.id %}" class="btn danger">Delete</a>
    </div>
    <h3>Add photo</h3>
    <p id="file-name"></p>
    <form 
      action=""
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Select photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
  </div>
</section>
{% endblock %}