{% extends 'base.html' %} {% load static %} {% block head %}
{% comment %} <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/sushi-index.css' %}"
/> {% endcomment %}

{% endblock %} {% block content %}

<section class="page-header">
  <h1>Task List</h1>
</section>

<section class="card-container">
  {% for task in task_list %}
    <a href="{% url 'tasks_detail' task.id %}">
    <div class="card">
      <div class="card-content">
        <h2>{{ task.name }}</h2>
        <p id="{{ task.id }}">{{ task.hours }}:{{ task.minutes }}</p>
      </div>
    </a>
      <button class="start" id="{{ task.id }}">
        <span>Start</span>
      </button>
      <button class="pause" id="{{ task.id }}">
        <span>Pause</span>
      </button>
      <button class="reset" id="{{ task.id }}">
        <span>Reset</span>
      </button>
      <button class="stop" id="{{ task.id }}">
        <span>Stop</span>
      </button>
  </div>
  {% endfor %}
</section>
{% endblock %}
