{% extends 'base.html' %} {% load static %} {% block head %} {% comment %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/sushi-index.css' %}"
/>
{% endcomment %} {% endblock %} {% block content %}

<section class="page-header">
  <h1>Task List</h1>
</section>

<section class="card-container">
  {% for task in task_list %}
  <div class="card">
    <div class="card-content">
      <a href="{% url 'tasks_detail' task.id %}">
        <h2>{{ task.name }}</h2>
      </a>
      <div class="timer" id="{{ task.id }}">
        <span id="hour">{{ task.hours }}</span>:
        <span id="minute">{{ task.minutes }}</span>:
        <span id="second">59</span>
      </div>
    </div>
    <div class="controls">
      <button class="start" id="{{ task.id }}">Start</button>
      <button class="reset" id="{{ task.id }}">Reset</button>
      <button class="stop" id="{{ task.id }}">Stop</button>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
