{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link
      rel="shortcut icon"
      type="image/svg"
      href="{% static 'images/baked.png' %}"
      alt="baked bread loaves icon"
    />
    <!-- =====BOX ICONS===== -->
    <link
      href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" /> 
    <!--===== GSAP =====-->
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
    ></script>

    <!--===== MAIN JS =====-->
    <script defer src="{% static 'js/main.js' %}"></script>
    <title>Hedda</title>
  </head>
  <body>
    <!--===== HEADER =====-->
    <header class="l-header">
      <nav class="nav bd-grid">
        <div>
          <a href="{% url 'home' %}" class="nav__logo">Hedda</a>
        </div>

        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-menu"></i>
        </div>

        <div class="nav__menu" id="nav-menu">
          <div class="nav__close" id="nav-close">
            <i class="bx bx-x"></i>
          </div>

          <ul class="nav__list">
            <li class="nav__item">
              <a href="{% url 'breads_index' %}" class="nav__link"
                >Bread Notes</a
              >
            </li>

            <li class="nav__item">
              <a href="{% url 'tasks_index' %}" class="nav__link"
                >Task Notes</a
              >
            </li>

            <li class="nav__item">
              <a href="{% url 'breads_create' %}" class="nav__link"
                >Add Bread</a
              >
            </li>

            <li class="nav__item">
              <a href="{% url 'tasks_create' %}" class="nav__link"
                >Add Task</a
              >
            </li>

            <li class="nav__item">
              <a href="{% url 'about' %}" class="nav__link">About</a>
            </li>

            <li class="nav__item">
              <a href="{% url 'logout' %}" class="nav__link">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="l-main">
      <!--===== HOME =====-->
      <section class="home" id="home">
        <div class="home__container bd-grid">
          <div class="home__img">
            <img
              src="{% static 'images/shinyloaf.jpg' %}"
              alt="two loaves of baked sourdough bread resting on a cooling rack"
              data-speed="-1"
              class="move"
              style="height:600px; width:600px;"
            />
          </div>

          <div class="home__data">
            <p class="home__description">
              <span class="nav__logo">Hedda</span> is a the perfect bread timer app <br> for the (almost geriatric) millenial! <br> Did you get distracted again while listening <br> to Doja Cat? Make a timer for that! Did you attempt <br>to prep for baking on your lunch <br> break again?  Reset your timer again! <br> What is time really? Truly?! <br> Is your name Julie?, then this app's <br> just for you!... or anyone with a link...
            </p>
           
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
