{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/svg"
      {%
      comment
      %}
      href=""
      {%
      endcomment
      %}
      alt=""
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <script defer src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <title>Hedda</title>
  </head>
  <body>
    <header>
    
    <h1>Hedda</h1>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
