{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/svg"
      href="{% static 'images/baked.png' %}"
      alt="baked bread loaves icon"
    />
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" /> {% endcomment %}
<script defer src="{% static 'js/timer.js' %}"></script>
  <!-- =====BOX ICONS===== -->
    <link
      href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" /> 
    <!--===== GSAP =====-->
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
    ></script>

    <!--===== MAIN JS =====-->
    <script defer src="{% static 'js/main.js' %}"></script>
    {% block head %} {% endblock %}
    <title>Hedda</title>
  </head>
  <body>
   <!--===== HEADER =====-->
    <header class="l-header">
    <nav class='nav bd-grid'>
    <div>
          <a href="{% url 'home' %}" class="nav__logo">Hedda</a>
        </div>
        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-menu"></i>
        </div>
         <div class="nav__menu" id="nav-menu">
          <div class="nav__close" id="nav-close">
            <i class="bx bx-x"></i>
          </div>

      <ul class="nav__list">
        {% if user.is_authenticated %}
        <li class="nav__item"><a href="{% url 'breads_index' %}" class="nav__link">All breads</a></li>
        <li class="nav__item"><a href="{% url 'tasks_index' %}" class="nav__link">All tasks</a></li>
        <li class="nav__item"><a href="{% url 'breads_create' %}" class="nav__link">Add a bread</a></li>
        <li class="nav__item"><a href="{% url 'tasks_create' %}" class="nav__link">Add a task</a></li>
        <li class="nav__item"><a href="{% url 'about' %}" class="nav__link">About</a></li>
        <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link">Log Out</a></li>
        {% else %}
        <li class="nav__item"><a href="{% url 'about' %}" class="nav__link">About</a></li>
        <li class="nav__item"><a href="{% url 'home' %}" class="nav__link">Log In</a></li>
        <li class="nav__item"><a href="{% url 'signup' %}" class="nav__link">SignUp</a></li>
        {% endif %}
      </ul>
    </nav>
    </header>
    <main class="l-main">
    <!--===== HOME =====-->
      <section class="home" id="home">
        <div class="home__container bd-grid">
          <div class="home__img">
            <img
              src="{% static 'images/coverBG.jpg' %}"
              alt="two loaves of baked sourdough bread resting on a cooling rack"
              data-speed="-1"
              class="move"
            />
          </div>
    {% block content %} {% endblock %}</main>
    
     <footer>
    <div>
      
    </div>
  </footer>
  </body>
</html>