{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/svg"
      {%
      comment
      %}
      href=""
      {%
      endcomment
      %}
      alt=""
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <script defer src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <title>Hedda</title>
  </head>
  <body>
    <header>
   <nav> 
      <ul>
        {% comment %} {% if user.is_authenticated %} {% endcomment %}
          <li><a href="{% url 'breads_index' %}">All breads</a></li>
          <li><a href="{% url 'tasks_index' %}">All tasks</a></li>
          <li><a href="{% url 'breads_create' %}">Add a bread</a></li>
          <li><a href="{% url 'tasks_create' %}">Add a task</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          {% comment %} <li><a href="{% url 'logout' %}">Log Out</a></li> {% endcomment %}
        {% comment %} {% else %}
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'home' %}">Log In</a></li> {% endcomment %}
        {% comment %} {% endif %} {% endcomment %}
      </ul>
    </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
