{% extends 'base.html' %}
{% load static %}
{% block content %}
<header>
    <div class="content">
      <h1>HEDDA</h1>
      <div class="countdown">It's a Bread Timer Not An Egg Timer</div>
    </div>
  </header>
{% comment %} <img src="{% static 'images/landingpagecover.jpg' %}" alt="sourdough bread"> {% endcomment %}
{% comment %} <lottie-player src="https://assets10.lottiefiles.com/datafiles/i0DrGl1AyhF4rvhqpBUbia6zUEekgKoxRociBzZy/stopwatch.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player> {% endcomment %}
{% if not user.is_authenticated %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% endif %}

{% endblock %}