{% extends 'base.html' %} {% load static %} {% block head %}
{% comment %} <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/bread-index.css' %}"
/> {% endcomment %}
<script defer src="{% static 'js/timer.js' %}"></script>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Bread Details</h1>
</section>
<section class="card-container">
  <div class="card">
    <div class="card-content">
      <div class="card-img-container">
        {% comment %} <img src="{% static 'images/bread.svg' %}" alt="bread logo icon" /> {% endcomment %}
      </div>
      <h2 class="card-title">{{ bread.name }}</h2>
      <p>{{ bread.description }}</p>
    </div>
     <div>
      <a href="{% url 'breads_update' bread.id %}" class="btn warn">Edit</a>
      <a href="{% url 'breads_delete' bread.id %}" class="btn danger">Delete</a>
    </div>
    <h3>Add photo</h3>
    <p id="file-name"></p>
    <form 
      action=""
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Select photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
  </div>
</section>
{% comment %} Task Section starts here {% endcomment %}
<h1>Task Section</h1>
<section class="tasks">
    {% comment %} <div class="subsection-title">
      <h3>Add All Relevant Tasks to make this delicious bread!</h3>
    </div> {% endcomment %}
    <div class="subsection-content">
    <h3>Available tasks</h3>
      {% if tasks.count %}
        {% for task in tasks.all %}
          <div class="task-container">
            <a href="{% url 'tasks_detail' task.id %}">
              <p>{{ task.name }}</p>
            </a>
            <form action="{% url 'add_task' bread.id task.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Add task</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-tasks">
          You have added all the available tasks!  
        </p>
      {% endif %}
    </div>
<h1>Task Slider</h1>
{% if bread.tasks.count %}
  {% for task in bread.tasks.all %}
  <div class="card">
      <div class="card-content">
        <h2>{{ task.name }}</h2>
        <p> Timer: {% if task.hours %}{{ task.hours }}{% else %}00{% endif %}:{{ task.minutes }}</p>
        <button> <span>Start Btn</span></button>
        <button><span>Pause Btn</span></button>
        <button><span>Reset Btn</span></button>
         <div class="subsection-content">
        {% endfor %}
      {% endif %}
    </div>
</section>
 </div>
{% endblock %}